        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body{
            font-family: 'Inter', sans-serif;
            overflow-x: hidden;
            width: 100vw;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: bolder;
        }
        /*navbar*/
        .navbar{
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        #logo{
            float: left;
            margin-top: 0px;
        
        }
        .navbar a{
            color: black;
        }
        #demo{
            border: 1px solid black;
            border-radius: 10px;
        }
        .nav li{
            padding-right: 10px;
            padding-left: 10px;
        }
        .icon-bar{
            color: black;
            background-color: black;
        }
        /*navbar*/
        
        /*phone 1 */
        #phonecontent h2{
            line-height: 50px;
        }
        #phonecontent{
            float: left;
            line-height: 200%;
        }
        #phone{
            float: right;
            height: 30em;
        }
        input{
            width: 20em;
            background-color: #D9D9D9;
        }
        #submit{
            background-color: black;
            color: white;
        }
        .search-input {
            padding: 8px;
            font-size: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 30em;
            color: black;
        }
        .search-button {
            padding: 8px 10px;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }

        #sect1, #sect2, #sect3{
            margin-bottom: 100px;
        }
        #sect4{
            margin-bottom: 180px;
        }

        /*phone 1 */
        
        /*phone 2 */
        #phone2{
            height: 30em;
        }
        .triangular-list {
            list-style: none;
            padding-left: 20px; /* Adjust as needed */
        }
        
        .triangular-list li:before {
            content: "\25B6"; /* Unicode character for right-pointing triangle */
            margin-right: 10px; /* Adjust as needed */
            color: #FB923C;
        }
        
        .triangular-heading {
            position: relative;
            padding-left: 40px; /* Adjust as needed */
        }
        
        .triangular-heading:before {
            content: "\25B6"; /* Unicode character for right-pointing triangle */
            position: absolute;
            left: 0;
            color: #FB923C;
        }
        .triangular-list span{
            opacity: 50%;
        }
        /*phone 2 */
        
        /*phone 3 */
        #phone3{
            float: right;
            height: 30em;
        }
        .triangular-list2 {
            list-style: none;
            padding-left: 20px; /* Adjust as needed */
        }
        
        .triangular-list2 li:before {
            content: "\25B6"; /* Unicode character for right-pointing triangle */
            margin-right: 10px; /* Adjust as needed */
            color: #FB923C;
        }
        
        .triangular-heading2 {
            position: relative;
            padding-left: 40px; /* Adjust as needed */
            z-index: 1; /* Bring the header text to the foreground */
        }
        
        .triangular-heading2::before {
            content: "\25C0"; /* Unicode character for right-pointing triangle */
            position: absolute;
            left: 0;
            color: #FB923C;
            z-index: -1; /* Send the triangle behind the header text */
        }
        .triangular-list2 span{
            opacity: 50%;
        }
        /*phone 3 */
        
        /*faq */
        #orange_main{
            /*background-color: #F3F3F3;*/
            border-radius: 20px;
            padding-top: 2em;
            padding-bottom: 2em;
            border-bottom: 0.25em solid black;
        }
        #orange{
            background-color: #F3F3F3;
            border-radius: 20px;
            padding-top: 2em;
            padding-bottom: 2em;
            border-bottom: 0.25em solid black;
        }
        #orange_main p{
            margin-left: 4em;
        }
        #orange p{
            margin-left: 4em;
        }
        #orange_main hr{
            border-color: black;
            margin-right: 4em;
            margin-left: 4em;
        }
        #orange hr{
            border-color: black;
            margin-right: 4em;
            margin-left: 4em;
        }
        #orange_main span{
            margin-left: 4em;
        }
        #orange span{
            margin-left: 4em;
        }
        .icons{
            float: right;
            margin-right: 4em;
            height: 3em;
            width: 3em;
        }
        /*#reg{
            background-color: #F3F3F3;
            border-radius: 20px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-bottom: 0.25em solid black;
        }
        #reg p{
            margin-left: 4em;
            margin-bottom: 0em;
            margin-top: 1.5em;
        }*/
        #toggleButton {
            cursor: pointer;
        }
        
        #toggleContent, #toggleContent2, #toggleContent3, #toggleContent4, #toggleContent5 {
            display: none;
        }
        .active {
            background-color: #FB923C;
        }
        /*faq 3 */
        
        /* contact us*/
        #conheading {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        #conhead{
            background-color: #FB923C; 
            font-weight: bolder; 
            font-size: 24px; 
            border-radius: 0.2em; 
            margin-right: 1em; 
            padding: 0.2em;
        }
        #consmall {
            font-size: 18px;
          }
        .contact-content{
            background-color: #F3F3F3;
            border-radius: 1em;
        }
                /* Basic styling for the form */
                form {
                    max-width: 400px;
                    margin: 0 auto;
                }
                
                label {
                    display: block;
                    margin-bottom: 5px;
                }
        
                input, textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
        
                textarea {
                    height: 150px;
                }
        
                button {
                    padding: 10px 20px;
                    background-color: black;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

                .radio-container {
                    display: flex;
                    align-items: center;
                  }
                
                  .radio-input {
                    display: none;
                    background-color: #FB923C;
                  }
                
                  .radio-icon {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid #ccc;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FB923C;
                    border-color: black;
                  }
        /* contact us*/
        
        /* footer*/
        .footer{
            background-color: rgba(251, 146, 60, 0.06);
            text-align: center;
            padding-top: 3em;
            color: black;
            padding-bottom: 3em;
        }
        /* footer*/
        /* animate on scroll*/
        .animate-section {
            opacity: 0; /* Start with the sections hidden */
            transform: translateY(30px); /* Slide down effect, adjust as needed */
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        .animate {
            opacity: 1;
            transform: translateY(0); /* Animate to original position */
        }                
        /* animate on scroll*/
        /* Basic styling for the form */
        #contactlogo{
            position: absolute;
            z-index: 1;
            top: 3040px;
            right: 0px;
            bottom: 128.38px;
        }

        /* z images*/
        #rec1{
            position: absolute;
            z-index: -1;
            top: 301px;
            left: 670px;
        }
        #rec2{
            position: absolute;
            z-index: -1;
            top: 2030px;
            left: 570px;
        }
        #rec3{
            position: absolute;
            z-index: -1;
            top: 1700px;
            left: 0px;
        }
        #rec4{
            position: absolute;
            z-index: -1;
            top: 2030px;
            right: 0px;
        }
        #tri1{
            position: absolute;
            z-index: -1;
            top: 680px;
            left: 690px;
            height: 70px;
        }
        #tri2{
            position: absolute;
            z-index: -1;
            top: 1200px;
            left: 600px;
            height: 70px;
        }
        #tri3{
            position: absolute;
            z-index: -1;
            top: 1720px;
            left: 690px;
            height: 70px;
        }
        /* Basic styling for the form */
        /* fade in section */

        .fade-left {
            animation: fadeInLeft 1s ease-in-out forwards;
        }

        .fade-right {
            animation: fadeInRight 3s ease-in-out forwards;
        }

        .fade-left2 {
            animation: fadeInLeft 6s ease-in-out forwards;
        }

        .fade-right2 {
            animation: fadeInRight 9s ease-in-out forwards;
        }

        @keyframes fadeInLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes fadeInRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        /* fade in section */
        
                /* Media queries for mobile responsiveness */
                @media (max-width: 768px) {
                    /* Adjust styles for smaller screens */
        
                    /* Navbar */
                    .navbar {
                        margin-top: 10px; /* Adjust as needed */
                    }
                    input{
                        max-width: 100%;
                    }
                    
                    /* Phone images */
                    #phone, #phone2, #phone3, #phone4 {
                        float: none;
                        height: auto;
                        width: 100%;
                        max-width: 300px; /* Adjust as needed */
                        margin: 0 auto;
                    }
                    
                    /* Phone content */
                    #phonecontent, #phonecontent2 {
                        float: none;
                        text-align: center;
                        padding: 10px;
                    }
                    #phonecontent2 br{
                        display: none;
                    }
                    #sect2{
                        margin-bottom: 100px;
                    }
                    #phonecontent2{
                        margin-top: 0px;
                    }
                    #sect4{
                        margin-bottom: 100px;
                    }

                    /* faq */
                    #orange span{
                        margin-left: 15px;
                        text-align: center;
                    }

                    /*swaping divs*/
                    .swap{
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        flex-direction: column-reverse;
                    }
                    /*swaping divs*/
                    
                    /* Form and contact content */
                    form {
                        max-width: 100%; /* Adjust as needed */
                    }
        
                    #contactlogo{
                        max-width: 100%;
                    }

                    #contactlogo{
                        display: none;
                    }
                    #rec1{
                        display: none;
                    }
                    #rec2{
                        display: none;
                    }
                    #rec3{
                        display: none;
                    }
                    #rec4{
                        display: none;
                    }
                    #tri1{
                        display: none;
                    }
                    #tri2{
                        display: none;
                    }
                    #tri3{
                        display: none;
                    }
                    /* contact */
                    #conheading {
                        flex-direction: column-reverse;
                      }
                    
                    /* Other responsive adjustments as needed */
                }
                @media (max-width: 820px) {
                    #contactlogo{
                        max-width: 100%;
                    }

                    /* Phone images */
                    #phone, #phone2, #phone3, #phone4 {
                        float: none;
                        height: auto;
                        width: 100%;
                        max-width: 300px; /* Adjust as needed */
                        margin: 0 auto;
                    }
                    
                    /* Phone content */
                    #phonecontent, #phonecontent2 {
                        float: none;
                        text-align: center;
                        padding: 10px;
                    }
                    #contactlogo{
                        display: none;
                    }
                    #rec1{
                        display: none;
                    }
                    #rec2{
                        display: none;
                    }
                    #rec3{
                        display: none;
                    }
                    #rec4{
                        display: none;
                    }
                    #tri1{
                        display: none;
                    }
                    #tri2{
                        display: none;
                    }
                    #tri3{
                        display: none;
                    }
                    /*swaping divs*/
                    .swap{
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        flex-direction: column-reverse;
                    }
                    /*swaping divs*/
                }
                @media (max-width: 961px) {
                    #contactlogo{
                        max-width: 100%;
                    }

                    /* Phone images */
                    #phone, #phone2, #phone3, #phone4 {
                        float: none;
                        height: 350px;
                        width: 75%;
                        max-width: 300px;
                        margin: 0 auto;
                        display: block; /* Add this to override the floating behavior */
                    }

                    #phone2, #phone4{
                        max-width: 100%;
                        height: 400px;
                    }
                    
                    /* Phone content */
                    #phonecontent, #phonecontent2 {
                        float: none;
                        text-align: center;
                        padding: 10px;
                    }
                    #contactlogo{
                        display: none;
                    }
                    #rec1{
                        display: none;
                    }
                    #rec2{
                        display: none;
                    }
                    #rec3{
                        display: none;
                    }
                    #rec4{
                        display: none;
                    }
                    #tri1{
                        display: none;
                    }
                    #tri2{
                        display: none;
                    }
                    #tri3{
                        display: none;
                    }
                }
                @media (max-width: 1159px) {
                    #contactlogo{
                        max-width: 100%;
                    }
                    #contactlogo{
                        display: none;
                    }
                    #rec1{
                        display: none;
                    }
                    #rec2{
                        display: none;
                    }
                    #rec3{
                        display: none;
                    }
                    #rec4{
                        display: none;
                    }
                    #tri1{
                        display: none;
                    }
                    #tri2{
                        display: none;
                    }
                    #tri3{
                        display: none;
                    }
                }
                @media (max-width: 1280px) {
                    #contactlogo{
                        max-width: 100%;
                    }
                    #contactlogo{
                        display: none;
                    }
                    #rec1{
                        display: none;
                    }
                    #rec2{
                        display: none;
                    }
                    #rec3{
                        display: none;
                    }
                    #rec4{
                        display: none;
                    }
                    #tri1{
                        display: none;
                    }
                    #tri2{
                        display: none;
                    }
                    #tri3{
                        display: none;
                    }
                }
        